:root {
    --primary-dark: #3D2407;
    --primary-light: #BD7725;
    --secondry-dark: #E4D1BA;
    --secondary-light: #FFFAEE;

    --primary-font: 'Pacifico', sans-serif;
    --secondary-font: 'Quicksand', sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--secondary-light);
    background: var(--primary-dark);
}

::selection {
    color: var(--secondary-light);
    background: var(--primary-dark);
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--secondary-font);
    font-size: 1.2em;
    background-color: #FFFAEE;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3D2407;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Utilities classes */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sub {
    color: var(--dark-grey);
    padding-bottom: 0.2rem;
}

@media (max-width: 45rem) {
    .sub {
        letter-spacing: normal;
    }
}
