/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-family: var(--primary-font);
    font-size: 0.8em;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secondary-light);
    -webkit-box-shadow: 0px 2px 100px 0px rgba(189, 118, 37, 0.5);
    -moz-box-shadow: 0px 2px 100px 0px rgba(189, 118, 37, 0.5);
    box-shadow: 0px 2px 100px 0px rgba(189, 118, 37, 0.5);
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.logo {
    text-align: center;
    font-size: 0.8em;
}

.logo span {
    font-family: var(--secondary-font);
    font-weight: 700;
}

.nav__links li {
    display: inline-block;
}

.nav__links li a {
    transition: all .3s ease;
}

.nav__links li a:hover {
    color: var(--primary-light);
}

main {
    max-width: 80rem;
    margin: 8rem auto;
}

section {
    margin-block: 2rem;
}

/* Home */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;
}

.content h1 {
    font-size: 4em;
}

.home .hero-img {
    max-width: 40%;
}

/* About */
.about>* {
    text-align: center;
    width: 100%;
    padding-block: .6rem;
}

.about p {
    text-align: justify;
}

/* Services */
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.card {
    background-color: #fff;
    max-width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;

    -webkit-box-shadow: 2px 4px 50px 0px rgba(189, 118, 37, 0.5);
    -moz-box-shadow: 2px 4px 50px 0px rgba(189, 118, 37, 0.5);
    box-shadow: 2px 4px 50px 0px rgba(189, 118, 37, 0.5);
}

.card ul {
    padding-inline: 2rem;
}
