/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 12rem;
    font-family: var(--primary-font);
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s;
}

.sticky {
    background-color: var(--secondary-light);
    -webkit-box-shadow: 0px 27px 100px rgba(189, 119, 37, 0.2);
    -moz-box-shadow: 0px 27px 100px rgba(189, 119, 37, 0.2);
    box-shadow: 0px 27px 100px rgba(189, 119, 37, 0.2);
    font-size: 0.8em;
    padding-block: 0.5rem;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.logo {
    text-align: center;
    font-size: 0.8em;
}

.logo span {
    font-family: var(--secondary-font);
    font-weight: 700;
}

.nav__links li {
    display: inline-block;
}

.nav__links li a {
    transition: all .3s ease;
}

.nav__links li a:hover {
    color: var(--primary-light);
}

main {
    max-width: 80rem;
    margin: 8rem auto;
}

section {
    min-height: 100vh;
    margin-block: 2rem;
}

/* Home */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;
}

.content h1 {
    font-size: 4em;
}

.home .hero-img {
    max-width: 40%;
}

/* About */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.about img {
    height: 20rem;
}

.about p {
    text-align: justify;
    padding: 0;
}

/* Services */
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.service__card {
    max-width: 20rem;
    padding: 1rem;
    align-items: flex-start;
}

/* Pricing */
.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.pricing__card {
    max-width: 26rem;
    align-items: center;
    padding: 2rem;
}

.pricing__card img {
    margin-inline: auto;
    width: 88px;
    height: 88px;
}

.pricing__card .btn-action {
    font-weight: 600;
    text-decoration: underline;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

form {
    /* background-color: coral; */
    width: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

form .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

form input {
    text-align: left;
    padding: 0.6rem;
}
